/* Empty. Add your own CSS if you like */
.border_box{
    color: #2e2e2e;
    box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.33);
    background: rgba(255, 254, 254, 0.49);
}
.water_img{
    height: auto;
    width: 100%;
}
.text_center{
  text-align: center;
}
.green_color{
 color: #20766a;
}
/*.red_color{
  color:#ff0000;
}*/
.water_para{
    font-size: 11px !important;
}
.cart_box{
  border: 1px solid #1abc81;
    width: 31px;
    height: 30px;
    border-radius: 5px;
    background-color: #1abc81;
    margin-top: 21px;
    /*margin-left: 13px;*/
    cursor: pointer;
}
.icon_size{font-size:9px;}
.cart_icon_color{
  color:white;
 font-size: 18px
}
.ion-ios-cart:before{margin-top: 5px}
.margin_left{margin-left: 10px;}
.margin_top{margin-top:10px;}
.select_img{
 height:137px;
 margin-top: 10px;
}
.select_border{
background: rgba(255, 255, 255, 0.25);
  /*border-radius: 22px;*/
  border: 1px solid #80808061;
  width:100%;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 1px 0 rgba(0,0,0,0.16);
}
.select_font_size{
  font-size: 14px;
    color: #000000;
    margin-right: 10px;
}
.select_para{
  font-size:15px;
  color:#0f6646 !important;
}
.border_bottom{border-bottom:1px solid #80808040;}
#myform {
    text-align: center;
    padding: 0;
    /*border: 1px solid #0f6646;*/
    margin: 2%;
    /*margin-left:26%*/
}
.qty {
   width: 57px;
   text-align: center;
   float: left;
   background-color: #1abc81;
}
.margin{
    margin-top: 34px;
    margin-left: 23px;
}
input.qtyplus {
 width:40px; height:34px;
    float: left;background-color:#0f6646;
    border: none;color: #ffffff; 
    font-size: 17px;
    font-weight: 700;
  }
    input.qtyminus {
    width: 38px;
    float: left;
    padding: 0px 12px;
    background-color: rgb(255, 255, 255);
    color: #2064aa;
    font-size: 24px;
    font-weight: 700;
    border: 2px solid #2064aa;
    border-radius: 26px;  
      }
        input[type="text"]
        {
         /*font-size: 17px;*/
            /* border: 1px solid #08030333; 
                 border-radius: 3px;  */
         /*color:white;*/
     }
     .gallery {
      width:50%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
     .cart_border{
      width: 105px;
      height: 42px;
      border: 1px solid #1abc81;
      border-radius: 8px;
      background-color: #1abc81;
      padding-top: 8px;
      cursor: pointer;
      font-size: 16px;
      color: white;
  }
  .cart_margin{
     margin-top:20px;
     margin-left:9px;
 }
 .item .badge {
  right: 16px !important;
padding: 6px;
font-size: 12px;
}
 .cart_span{
     font-size:12px;
     margin-left: 10px;
     color: white;
 }
 .amount{
     width: 63px;
     text-align: center;
     float: left;
     background-color: #1abc81;
     height: 38px;
     /*margin-top: 6px;*/
 }
 .amount_para{
    margin: 7px 7px ;
    font-size: 16px;
}
.total{
   border: 1px solid #054c9b;
    color: white;
    background-color: #054c9b;
    padding: 10px;
    width: 143px;margin-left: 68px;
}
.total_margin_left{margin-left: 32px;}
.total_amount{
    margin-left: 22px;
    color: #0f6646;
    font-weight: 700;
}
.product_icon{
    margin-left: 8px;
    font-size:24px;
}
.ion-eye,.ion-android-add-circle{color:#1f7136e0;}
.ion-ios-compose{color:#13346c;}
.ion-ios-trash{color:#d34b1c;}
.red_color{
      color: #ef473a;
    font-weight: 700;
   }
.order_detail_head{
    font-size: 16px;
    margin-top: 10px;
    color:#2064aa;
}
.user_img{height: 35px;}
.print_btn{
       width: 90px;
    font-size: 12px !important;
}
.set_offer{
  font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 700;
    color: #2064aa;
}
.order_text{
      margin-left: 10px;
    font-size: 15px;
}
.order_pending{
    margin-top: 18px !important;
    font-size: 17px !important;
    color:#0f6646!important;
}
.offer_circle{
    font-size: 40px;
    background: #11c1f385;
    width: 100px;
    height: 100px;
    display: table;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26), 0 2px 10px 0 rgba(0,0,0,0.16);
    /*text-align: center;*/
}
.circle_text{
      margin-top: 33px;
    margin-left: 10px;
    font-size: 23px;
}
.circle_border{
      color: #2e2e2e;
    box-shadow: 0 0px 26px 0 rgba(0, 0, 0, 0.11);
    background: rgba(255, 254, 254, 0.49);
    height: 139px;
    padding-left: 12px;
    padding-top: 9px;
}
.offer_text{
  margin-top: 34px;
    font-size: 24px;
    color: rgb(72, 111, 72);
}
.order_para{
    margin-bottom: 10px !important;
}

.left_
{
  float: left;
}
.font_weight{
  font-weight: 700;
}
/*.red_color{
  color: #73120b;
}*/
.offer_per{
      color: #d93023  !important;
    font-weight: 700;
}
.golden_offer{
  background-color:#d1b438e3 !important;
  color:black;
}

.pending_status{
  font-size: 15px ;
    color: #73120b !important;
}
.menu_class h3{
  font-size: 15px;
    color: #fff;
    margin-top: 8px;
}
.table_head_color{
      color: white ;
}
.item-divider{
      background:linear-gradient(-90deg, #1c91ae, #18175c) !important;
}
.brand_close_left{
  font-size: 20px;
    color: #871108;
        float: right;
    /*position: absolute;
    left: 42%;*/
}

.cart_bottom
{
border:1px solid #80808052;
}
.brand_btn {
     background-color: #2064aa;
    border: none;
    color: white;
    padding: 6px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin:0px 9px;
    cursor: pointer;
    border-radius: 8px;
    height: 31px;
    width: 30px;
}
.item-input-wrapper{
  background: #f8f9fb !important;
      margin-right: 10px;
}
.margin_right{
    margin-right: 13px;
  }
  .button_order{
    /*width: 87px;*/
     color: white !important;
    font-size: 15px !important;
    -o-transition: .5s;
    transition: .5s;
    background: linear-gradient(-90deg, #008db0, blue);
    line-height: 0px;
  }
  .forgot_para{
        margin-right: 10px;
    /*color: #2064ab;*/
  }
 .forgot_password .button-all{
  margin:0;
 }
 .remove_btn{
    background-color: #2064aa;
    border: none;
    color: white;
    padding: 6px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 9px;
    cursor: pointer;
    border-radius: 8px;
    height: 31px;
    width: 42px;
 }
 .purchase_select{
      margin-left: 20px;
    padding: 4px;
    border: none;
    color: #2064aa
 }
/*.brand_heading{
      text-align: center;
    color: #2064aa;
    font-size: 15px;
    font-weight: 700;
}
.brand_right_heading{
  position: absolute;
    right: 10%;
    bottom: 47%;
    text-align: center;

}*/
/*.border{
  border:1px solid gray;
  height:20px;
}*/
/*.header .col {
  border-top: solid 1px grey;
  background-color:lightgrey;
}*/
.accordian_outer{
  padding: 20px 15px;
}
/*accordian css*/
.list .item.item-accordion {
  line-height: 25px;
  padding-top: 5;
  padding-bottom: 5;
  transition: 0.09s all linear;
  /*height: 250px;*/
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.accordian_outer .item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    /*overflow: hidden;
    text-overflow: ellipsis;*/
    white-space: normal;
}
.letter_spacing{
      letter-spacing: 3px;
}
.address_font{
      font-size: 17px
}
address{
      margin-bottom: 0px;
}
.terms li{
  list-style: inside;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 10px;
  list-style-type: square;

}
.ordr_list{
      display: flex;
    align-items:center;
    justify-content: center;
}
.ordr_list_outer{
    margin-bottom: 10px !important;
    box-shadow: 1px 0px 1px 1px #ddd;
}
.ordr_list_outer .item-content{
  padding: 10px !important;
}
.ordr_list_outer .item-content i{
    text-align: right;
}
.ordr_list a{
  color: #2064aa;
    font-size: 12px;
    text-align: right;
}
.ordr_list .order_btn
{
  width: 100%;
}
.order_table .header .col {
    background-color: #2064aa;
    color: #fff;
    text-align: center;
}
.order_table .col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}
.order_table .row:last-child .col {
    border-bottom: solid 1px #808080;
        text-align: center;
}
.order_table .header .col:last-child,.order_table .row:last-child .col:last-child {
    border-right: 1px solid #808080;
}
.product_list h3{
  color: #2064aa;
  font-weight: 600;
}
.product_list{
  margin-bottom: 20px;
}
.product_list input{
  color: #000 !important;
    font-weight: 100 !important;
}
.product_list .item.item-input{
  border: transparent;
    margin-bottom: 3px;
    box-shadow: 0px 0px 1px 1px #f2eded;
}
.payment_deatils
{
  padding: 10px;
  box-shadow: 0px 0px 3px 3px #f2eded;
  line-height: 1.8;
}
.pay_btn{
    margin-bottom: 15px;
}
.pay_btn.button-bar > .button:first-child {
    border-radius: 25px 0px 0px 25px;
    border-color: #2064aa !important;
    color: #2064aa;

}
.pay_btn button:last-child{
    border-radius: 0px 25px 25px 0px !important;
}
.pay_btn button, .pay_btn button a{
  border-color: #2064aa !important;
  color:#2064aa !important;
  } 
.pay_btn button.activated,.pay_btn button.activated a,.pay_btn a.button.activated
  {
    background-color: #2064aa !important;
    color: #fff !important;
  }
  .order1 .card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
    overflow: visible;
}
.order1 .box {
    padding: 8px !important;
    text-align: center;
    margin-bottom: 15px
    }
.box.border_box h5{
        font-weight: 600;
    color: #ffffff;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    background-color: #2064aa;
    margin: 0px;
}
.error-message
{
  color: #e40404;
  padding: 0px 24px;
  font-size: 12px;
  text-transform: none;
}
.pro_img{
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
}
.pro_img img{
    right: 0px !important; 
    left: 0px !important; 
    margin:10px auto;
    max-width: 100px !important;
    max-height: 100px !important; 
    position: relative !important;
    top: 0px !important;
}
.no_offer{
  background-color: #2064aa;
    color: #fff;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 50% auto;
    display: flex;
    align-items: center;
    justify-content: center;
        text-align: center;
}
.no_offer h3
{
  color: #fff;
}
.no_offer h3 span{
  font-size: 50px;
  font-weight: 600;
}
.list_para p
{
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.list_head h4
{
  /*font-size: 16px;*/
  color: #f59506 !important;
  font-weight: 600;
}
.list_head {
  padding: 10px 0px 0px 0px;
}
.water_subcnt p
{
  padding: 2px 0px 2px 0px;
   color: #101010;
}
.water_subcnt span
{
  color: #0455a9;
    font-weight: 700;
}
.water_top
{
  font-weight: 900;
}
.btn_space
{
  margin: 15px 0px 0px 0px;
}
.water_subcnt
{
  padding: 0px 0px 0px 20px;
}
.item.active.item-stable.accordian_backclr
{
  background-color: #f7f7f7;
}
.accordian_outer .item .item_backclr
{
  background-color: whitesmoke;
}
.list_para
{
  padding: 10px 0px;
}
.accordian_backclr
{
  padding: 1px 15px 8px 15px;
}
.height_71{
      height: 72px;
}
.margin_6
{
      margin-left: 6px;
}
 .accordian_outer .water_img {

       width: auto !important;

     height: auto;

}
.box_ca .item_backclr
{
      background: #f7f7f7;
    border: 1px solid red;
        border-top: 1px solid #e1dbdb;
}
.display_b
{
  display: inline-block;
}
.cr
{
      color: #2064ab !important;
      padding-left: 2px !important;
}
.about p{
  text-align: justify;
}
.about i
{
  color: #2064aa;
  font-size: 14px;
}
.text_c
{
      font-size: 14px;
    font-weight: 600;
}