<ion-view view-title="Order Details">
  <ion-content class="padding order_table">
    <div class="product_list">
      <h3>Product List</h3>
      <div class="row header">
        <div class="col"><strong>Product</strong></div>
        <div class="col"><strong>Quantity</strong></div>
      </div>
      <div ng-repeat="product in order_detail.product_list" class="row">
        <div class="col">{{product.product_name}}</div>
        <div class="col">{{product.quantity}}</div>
      </div>
      
    </div> 
    <div class="product_list">
      <h3>Delivery address</h3>
      <div>
        <label class="item item-input">
          <input type="text" ng-model="order_detail.delivery_detail.name" placeholder="Name" readonly="">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="order_detail.delivery_detail.door_no" placeholder="Door/Float No" readonly="">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="order_detail.delivery_detail.address_1" placeholder="Address line 1" readonly="">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="order_detail.delivery_detail.address_2" placeholder="Address line 2" readonly="">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="order_detail.delivery_detail.city" placeholder="City" readonly="">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="order_detail.delivery_detail.state" placeholder="State" readonly="">
        </label>
        <label class="item item-input">
          <input type="tel" ng-model="order_detail.delivery_detail.pincode" placeholder="Pincode" readonly="">
        </label>
        <label class="item item-input">
          <input type="tel" ng-model="order_detail.delivery_detail.phonenumber" placeholder="Phone Number" readonly="">
        </label>
      </div>
    </div> 
    <div class="product_list">
      <h3>Payment Details</h3>
      <div class="payment_deatils">
        <div>Total amount : {{order_detail.order_detail.total_amount}}</div>
        <div>Mode of payment : {{order_detail.order_detail.payment}}</div>
      </div>
    </div>
    <div class="button-bar pay_btn">
     <a href="#/app/delivery_map/{{order_detail.delivery_detail}}" class="button button-outline button-positive">View Map</a>
     <button ng-click="deliver(order_detail.order_detail)" class="button button-outline button-positive">Delivered</button>

   </div>
 </ion-content>
</ion-view>
