<ion-view view-title="About Us">
	<div class="ocean">
		<div class="wave"></div>
		<div class="wave"></div>
	</div>
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>
	<ion-content class="imag ">
		<div class="row head_c">
			<div class="col  ">
				<h2> About </h2>
			</div>
		</div>
		<ion-list >
			<div class="about">
				<img class="logo" src="img/logo.png">
				<p>
					WATER 4 U ensures availability of high quality water at affordable price for business and household.
				</p>
				<p>Ordering water has never been so easy. We at WATER 4 U have seen and experienced many delays in timely water distribution. Hence we came up with this mobile app to make life simpler by ordering water through just few clicks.
				</p>
				<ul>
					<li> <i class="icon ion-ios-checkmark"></i> Quality Water </li>
					<li> <i class="icon ion-ios-checkmark"></i> Order Tracking  </li>
					<li> <i class="icon ion-ios-checkmark"></i> Timely Delivery  </li>
					<li> <i class="icon ion-ios-checkmark"></i> Customer Satisfaction  </li>
				</ul>
			</div>
			<div class="copy_right">
				<small>Designed & Maintained by Acestra Networks Pvt Ltd</small>
			</div>
		</ion-list>
	</ion-content>
</ion-view>