
<ion-view view-title="Address" class="delivery login singup">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <ion-nav-buttons side="right">
    <a  href="#/app/cart" ng-if="role != 'agent' || !role">
     <i class="icon ion-ios-cart-outline cart_icon_color1 "></i><span class="icon_cart" ng-show="show_count">{{cart_count}}</span>
   </a>
 </ion-nav-buttons>
 <ion-content class="pre-login">
  <div class="accordian_outer">
    <ion-list>
      <div ng-repeat="group in explaining">
        <ion-item class="item-stable accordian_item"
        ng-click="toggleGroup(group)"
        ng-class="{active: isGroupShown(group)}">
        <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        <span>{{group.address_type}} </span>
      </ion-item>
      <div ng-show="isGroupShown(group)">
        <form ng-submit="update(group)">
          <div class="list text-center">
            <h3>{{group.address_type}}</h3>
            <div>
              <label class="item item-input">
                <input type="text" ng-model="group.name" placeholder="Name">
              </label>
              <label class="item item-input">
                <input type="text" ng-model="group.door_no" placeholder="Door/Float No">
              </label>
              <label class="item item-input">
                <input type="text" ng-model="group.address_1" placeholder="Address line 1">
              </label>
              <label class="item item-input">
                <input type="text" ng-model="group.address_2" placeholder="Address line 2">
              </label>
              <label class="item item-input item-select">
                <div class="input-label">
                 City
               </div>
               <select ng-model="group.city" ng-options="x for x in cities | orderBy" ng-required="true" name="city">
                <option>select</option>
              </select>
            </label>
            <label class="item item-input">
              <input type="text" ng-model="group.state" placeholder="State">
            </label>
            <label class="item item-input">
              <input type="tel" ng-model="group.pincode" placeholder="Pincode">
            </label>
          </div>
          <div class="list button_all btn_space">
            <input type="submit" name="" value="Update" class="button button_order">
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-list>
</div>
<div><ion-checkbox ng-model="show"  ng-checked="false">Add new address</ion-checkbox></div>
<form ng-submit="update(deliver_data)" ng-show="show" name="myForm">
  <div class="list text-center">
    <h4 class="">Fill Delivery Address</h4>

    <div class="margin_top red_color font_weight">* Fill all fields</div>

    <div>
      <label class="item item-input">
        <input type="text" ng-model="deliver_data.name" placeholder="Name" ng-required="true" name="name">
      </label>
      <span style="color:#e40404;" ng-show="myForm.name.$error.required && myForm.name.$touched">Name field required</span>
      <label class="item item-input">
        <input type="text" ng-model="deliver_data.door_no" placeholder="Door/Float No" ng-required="true" name="door_no">
      </label>
      <span style="color:#e40404;" ng-show="myForm.door_no.$error.required && myForm.door_no.$touched">doo no field required</span>
      <label class="item item-input">
        <input type="text" ng-model="deliver_data.address_1" placeholder="Address line 1" ng-required="true" name="address_1">
      </label>
      <span style="color:#e40404;" ng-show="myForm.address_1.$error.required && myForm.address_1.$touched">address field required</span>
      <label class="item item-input">
        <input type="text" ng-model="deliver_data.address_2" placeholder="Address line 2" ng-required="true" name="address_2">
      </label>
      <span style="color:#e40404;" ng-show="myForm.address_2.$error.required && myForm.address_2.$touched">address field required</span>
      <label class="item item-input item-select">
        <div class="input-label">
         City
       </div>
       <select ng-model="deliver_data.city" ng-options="x for x in cities | orderBy" ng-required="true" name="city">
        <option>select</option>
      </select>
    </label>
    <span style="color:#e40404;" ng-show="myForm.city.$error.required && myForm.city.$touched">city field required</span>
    <label class="item item-input">
      <input type="text" ng-model="deliver_data.state" placeholder="State" ng-required="true" name="state">
    </label>
    <span style="color:#e40404;" ng-show="myForm.state.$error.required && myForm.state.$touched">state field required</span>
    <label class="item item-input">
      <input type="tel" ng-model="deliver_data.pincode" placeholder="Pincode" ng-maxlength="6" name="pincode">
    </label>
    <span style="color:#e40404;" ng-show="myForm.pincode.$error.required && myForm.pincode.$error.maxlength">Please enter a 6 digit number</span>
  </div>
  <div class="list button_all">
    <input type="submit" name="" value="Submit" class="button button_order" ng-disabled="myForm.$invalid">

  </div>
</div>
</form>
</ion-content>
</ion-view>
