<ion-view view-title="Cart">
	<div class="ocean">
		<div class="wave"></div>
		<div class="wave"></div>
	</div>
	<ion-content class="pre-login cart">
		<div  ng-if="productlist">
			<div class = "row" ng-repeat="list in productlist" class="cart_bottom"  style="background: rgba(255, 255, 255, 0.25);
			border: 1px solid rgba(128, 128, 128, 0.44);">
			<div class = "col" >
				<div class="text_center" >
					<img src="{{list.image}}" alt="water" class="select_img">
				</div>
			</div>
			<div class="col col-75 text_body ">
				<div>
					<h3 class="select_font_size margin_left">{{list.name}} <span> {{list.measure}}</span></h3>
					<p class="select_para margin_left font_weight">
					Rs. {{list.price * list.quantity}}</p>
					<h5 class="red_color water_para" ng-if="list.stock == 0">No stock</h5>
				</div>
				<div class=" " ng-init="count=0">
					<form id='myform' method='POST' action='#' class="text_center">
						<input type='button' ng-click="sub(list)" value='-' class='qtyminus' field='quantity' />
						<input type='text' name='quantity' ng-model="list.quantity" class='qty' readonly="" />
						<input type='button' ng-click="add(list)"  value='+' class='qtyminus' field='quantity' />
						<div class="margin_top">
							<a class="button button-assertive button-small ion-android-delete" ng-click="delete(list)"></a>
						</div>
					</form>
				</div>
			</div>

		</div>
		<div class="select_border text_center margin_top">
			<div class="row">
				<div class="col">
					Total Amount to be Payable : {{total}}
					
				</div>
			</div>
			<div class="row">

				<div class="col  button_all">
					<form name="myform">
						<div class="list">
							<label class="item item-select">
                <div class="input-label">
                 city
               </div>
               <select ng-model="city" ng-options="x for x in cities" ng-required="true" name="city">
                <option>select</option>
              </select>
            </label>
						</div>
						<p ng-if="myform.$invalid" class="margin_top red_color font_weight">Our Service Available Only In Above Listed Cites</p>

						<div ng-if="myform.$valid">
							<a  ng-click="checkout()">
								<div class=" button button-block  red " >
									<i class="icon ion-ios-cart cart_icon_color "></i><span class="order_text" >Place Order</span>
								</div>
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</ion-content>
<ion-content scroll="false"  ng-if="!productlist">
	<div class="empty_cart">
		<p>add some items in cart </p>

		<img src="img/empty.png">
	</div>
</ion-content>
</ion-view>