<ion-view view-title="Watter Delivery" hide-nav-bar="true">
 <div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>
<ion-content class="pre-login">
  <ion-list>
     <a href="#/app/home_page">
        <img class="logo" src="img/logo.png">
      </a>
  </ion-list>
  <div class=" button_all">
    <a class="button button-block red" href="#/app/login" style="margin-bottom: 32px;"> Sign In</a>
    <button class="button button-block white " ng-click="go()">Skip</button>
  </div>
</ion-content>
</ion-view>