  <ion-view view-title="Home" hide-back-button="true" class="login welcome">
    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a  href="#/app/cart" ng-if="role != 'agent' || !role">
       <i class="icon ion-ios-cart-outline cart_icon_color1 "></i><span class="icon_cart" ng-show="show_count">{{cart_count}}</span>
     </a>
   </ion-nav-buttons>
   <ion-content class="pre-login">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" show-page="false">
     <ion-slide>
      <div class="text " >
        <img src="img/slider/home.jpg">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="text">
        <img src="img/slider/mount3.jpg">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="text " >
        <img src="img/slider/mount1.jpg">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="text">
        <img src="img/slider/mount2.jpg">
      </div>
    </ion-slide>
  </ion-slide-box>
  <div class = "" id="sss"  >
    <div class = "col "  ng-repeat="brand in brands"  ng-class="{'col-50': brands.length > 1}" style="float: left">
      <div class="border_box">
        <div ng-click="select_brand(brand.id)">
          <img src="https://{{brand.image}}" alt="{{brand.name}}" class="water_img text_center">
        </div>
      </div>
    </div>
  </div>
</ion-content>
</ion-view>
