  <ion-view view-title="Login" has-header="false" class="login">
    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <ion-content class="pre-login" style="    padding-top: 51px;">
      <ion-list>
        <a href="#/app/home_page">
        <img class="logo" src="img/logo.png">
      </a>
      </ion-list>
      <form ng-submit="doLogin(loginData)">
        <div class="list">
          <label class="item item-input">
            <input type="email" ng-model="loginData.email" placeholder="Email">
          </label>
          <label class="item item-input">
            <input type="password" ng-model="loginData.password" placeholder="Password">
          </label>
          <div class="margin_top text-right forgot_para">
            <a href="#/app/forgot_password" class="">forgot password</a>
          </div>
          <div class="list button_all">
            <input type="submit" name="" class="button button-block  red" value="Login">
            <a class="button button-block white" href="#/app/create_user">Create an Account</a>
          </div>
        </div>
      </form>
    </ion-content>
  </ion-view>
