<ion-view view-title="Payment">
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <ion-content class="pre-login">
    <div class="list">
      <ion-radio ng-model="data.type" class="item" ng-value="'CASH_ON_DELIVERY'">Cash on delivery </ion-radio>
      <ion-radio ng-model="data.type" class="item" ng-value="'WEBXPAY'">Pay with webxpay</ion-radio>
      <ion-radio ng-model="data.type" class="item" ng-value="'CREDIT'">Credit</ion-radio>
      <div  ng-if="data.type == 'CREDIT'">
        <label class="item item-select">
          <div class="input-label">
            Credit Days
          </div>
          <select ng-model="data.days">
            <option ng-value="15" ng-selected="true">15 days</option>
            <option ng-value="30">30 days</option>
            <option ng-value="45">45 days</option>
          </select>
        </label>
      </div>
      <form ng-if="data.type == 'WEBXPAY'"n name="myForm">
      </form>
    </div>
    <div><button class="button button-positive button-block" ng-show="data.type" ng-click="place_order(data)" type="button">
      <span ng-if="data.type != 'WEBXPAY'">Place Order</span><span ng-if="data.type == 'WEBXPAY'">Make Payment</span></button></div>
    </ion-content>
  </ion-view>